@import url("/fonts/aeonik/aeonik.css");
@import url("/fonts/opendyslexic/opendyslexic.css");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --border-primary: oklch(0.8853 0 0);
  --border-secondary: oklch(0.3715 0 0 / 10%);
  --border-focus: oklch(0.791748 0.169195 163.7995);

  --brand-primary: oklch(0.8377 0.1927 157.62);
  --brand-secondary: oklch(0.835 0.1157 202.83);
  --brand-accent: oklch(0.791748 0.169195 163.7995);

  --feedback-success: oklch(0.8377 0.1927 157.62);
  --feedback-warning: oklch(0.8508 0.1265 77.37);
  --feedback-error: oklch(0.657 0.2434 5.43);

  --foreground-primary: oklch(0.3715 0 0);
  --foreground-secondary: oklch(0.3715 0 0);
  --foreground-disabled: oklch(0.7636 0 0);
  --foreground-error: oklch(1 0 0);
  --foreground-on-color: oklch(1 0 0);
  --foreground-subtle: oklch(0.6665 0 0);

  --primary-primary: oklch(0.835 0.1157 202.8336);
  --primary-pressed: oklch(0.7422 0.1276 208.58);
  --primary-on-color: oklch(1 0 0 / 60%);
  --primary-hover: oklch(0.8157 0.1 202.66);

  --radius: 1rem;

  --secondary-primary: oklch(0.9431 0 0);
  --secondary-secondary: oklch(0.8141 0 0);
  --secondary-on-color: oklch(0.7572 0 0);
  --secondary-hover: oklch(0.8945 0 0);

  --surface-background: oklch(0.9736 0.0017 67.8025);
  --surface-base: oklch(1 0 0);
  --surface-disabled: oklch(0.9158 0 0);

  --text-primary: oklch(0.3677 0 0);
  --text-secondary: oklch(0.7444 0 0);

  --background: var(--surface-background);
  --foreground: var(--foreground-primary);
  --card: var(--surface-base);
  --card-foreground: var(--foreground-primary);
  --popover: var(--surface-base);
  --popover-foreground: var(--foreground-primary);
  --primary: var(--primary-primary);
  --primary-foreground: oklch(0.3715 0 0);
  --secondary: var(--secondary-primary);
  --secondary-foreground: var(--foreground-primary);
  --muted: var(--surface-disabled);
  --muted-foreground: var(--foreground-subtle);
  --accent: var(--brand-accent);
  --accent-foreground: oklch(0.3715 0 0);
  --destructive: var(--feedback-error);
  --destructive-foreground: var(--foreground-primary);
  --border: var(--border-primary);
  --input: var(--surface-base);
  --ring: var(--border-focus);
  --chart-1: oklch(0.7335 0.1233 197.4922);
  --chart-2: oklch(0.7103 0.1225 182.5067);
  --chart-3: oklch(0.7416 0.1465 167.2149);
  --chart-4: oklch(0.7727 0.1601 162.9132);
  --chart-5: oklch(0.8009 0.1585 162.3831);
  --sidebar: var(--surface-base);
  --sidebar-foreground: var(--foreground-primary);
  --sidebar-primary: var(--primary-primary);
  --sidebar-primary-foreground: oklch(0.3715 0 0);
  --sidebar-accent: var(--brand-accent);
  --sidebar-accent-foreground: oklch(0.3715 0 0);
  --sidebar-border: var(--border-primary);
  --sidebar-ring: var(--border-focus);
}

.dark {
  --border-primary: oklch(0.8853 0 0);
  --border-secondary: oklch(0.3715 0 0 / 10%);
  --border-focus: oklch(0.791748 0.169195 163.7995);

  --brand-primary: oklch(0.8377 0.1927 157.62);
  --brand-secondary: oklch(0.835 0.1157 202.83);
  --brand-accent: oklch(0.791748 0.169195 163.7995);

  --feedback-success: oklch(0.8377 0.1927 157.62);
  --feedback-warning: oklch(0.8508 0.1265 77.37);
  --feedback-error: oklch(0.657 0.2434 5.43);

  --foreground-primary: oklch(1 0 0);
  --foreground-secondary: oklch(1 0 0);
  --foreground-disabled: oklch(0.9219 0 0);
  --foreground-error: oklch(1 0 0);
  --foreground-on-color: oklch(0 0 0);
  --foreground-subtle: oklch(0.6665 0 0);

  --primary-primary: oklch(0.835 0.1157 202.83);
  --primary-pressed: oklch(0.7422 0.1276 208.58);
  --primary-on-color: oklch(1 0 0);
  --primary-hover: oklch(0.8157 0.1 202.66);

  --secondary-primary: oklch(0.5032 0 0);
  --secondary-secondary: oklch(0.3407 0 0);
  --secondary-on-color: oklch(1 0 0 / 60%);
  --secondary-hover: oklch(0.4313 0 0);

  --surface-background: oklch(0.3012 0 0);
  --surface-base: oklch(0.4054 0 0);
  --surface-disabled: oklch(0.6133 0 0);

  --text-primary: oklch(1 0 0);
  --text-secondary: oklch(1 0 0 / 60%);

  --background: var(--surface-background);
  --foreground: var(--foreground-primary);
  --card: var(--surface-base);
  --card-foreground: var(--foreground-primary);
  --popover: var(--surface-base);
  --popover-foreground: var(--foreground-primary);
  --primary: var(--primary-primary);
  --primary-foreground: oklch(0.3715 0 0);
  --secondary: var(--secondary-primary);
  --secondary-foreground: var(--foreground-primary);
  --muted: var(--surface-disabled);
  --muted-foreground: var(--foreground-subtle);
  --accent: var(--brand-accent);
  --accent-foreground: oklch(0.3715 0 0);
  --destructive: var(--feedback-error);
  --destructive-foreground: var(--foreground-primary);
  --border: var(--border-primary);
  --input: var(--surface-base);
  --ring: var(--border-focus);
  --chart-1: oklch(0.7335 0.1233 197.4922);
  --chart-2: oklch(0.7103 0.1225 182.5067);
  --chart-3: oklch(0.7416 0.1465 167.2149);
  --chart-4: oklch(0.7727 0.1601 162.9132);
  --chart-5: oklch(0.4200 0.1800 266);
  --sidebar: var(--surface-base);
  --sidebar-foreground: var(--foreground-primary);
  --sidebar-primary: var(--primary-primary);
  --sidebar-primary-foreground: oklch(0.3715 0 0);
  --sidebar-accent: var(--brand-accent);
  --sidebar-accent-foreground: oklch(0.3715 0 0);
  --sidebar-border: var(--border-primary);
  --sidebar-ring: var(--border-focus);
}

@theme inline {
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-focus: var(--border-focus);

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);

  --color-feedback-success: var(--feedback-success);
  --color-feedback-warning: var(--feedback-warning);
  --color-feedback-error: var(--feedback-error);

  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-disabled: var(--foreground-disabled);
  --color-foreground-error: var(--foreground-error);
  --color-foreground-on-color: var(--foreground-on-color);
  --color-foreground-subtle: var(--foreground-subtle);

  --color-primary-primary: var(--primary-primary);
  --color-primary-pressed: var(--primary-pressed);
  --color-primary-on-color: var(--primary-on-color);
  --color-primary-hover: var(--primary-hover);

  --color-secondary-primary: var(--secondary-primary);
  --color-secondary-secondary: var(--secondary-secondary);
  --color-secondary-on-color: var(--secondary-on-color);
  --color-secondary-hover: var(--secondary-hover);

  --color-surface-background: var(--surface-background);
  --color-surface-base: var(--surface-base);
  --color-surface-disabled: var(--surface-disabled);

  --text-display: 3.25rem;
  --text-display--line-height: 1.1;

  --text-subtitle: 2.25rem;
  --text-subtitle--line-height: 1.2;

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --font-base: "Aeonik", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  body {
    @apply font-base text-foreground bg-background;
  }
}
